.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
src/**
.gitignore
tsconfig.json
vsc-extension-quickstart.md
tslint.json
org.jboss.tools.rsp.distribution-*.zip
*.vsix
build/**
coverage/**
images/vscode-adapters.gif
test/**
.travis.yml
Jenkinsfile